@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300&display=swap');

*{margin: 0; padding: 0;}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 248, 248);
    color: #2d3436;
    font-family: 'Roboto', sans-serif;
}
.container h1{
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
    color: #0984e3;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius:  10px;
    background-color: #ffff;
    box-shadow: 1px 11px 40px -12px #2d3436;
    width: 900px;
    height: 400px;
    padding: 19px;
    
}
.row{
    display: flex;
    justify-content: center;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}
.inputbox input{
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: rgba(27, 26, 26, 0.219) 1px solid;
    color: rgb(20, 20, 20);
}
.row input[type="submit"]{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #0984e3;
    color: #ffff;
    border: none;
    cursor: pointer;
    margin: 5px 5px;
}
